<?xml version="1.0"?>
<config>
    <modules>
        <Mage_MOLPaySeamless>
            <version>1.0.0.0</version>
        </Mage_MOLPaySeamless>
    </modules>
    <global>
        <fieldsets>
          <sales_convert_quote_payment>
            <molpayseamless_payment_channel>
              <to_order_payment>*</to_order_payment>
            </molpayseamless_payment_channel>
          </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <molpayseamless>
                <class>Mage_MOLPaySeamless_Model</class>
            </molpayseamless>
        </models>
        <helpers>
            <molpayseamless>
                <class>Mage_MOLPaySeamless_Helper</class>
            </molpayseamless>
        </helpers>
        <blocks>
            <molpayseamless>
                <class>Mage_MOLPaySeamless_Block</class>
            </molpayseamless>
        </blocks> 
        <resources>
            <molpayseamless_setup>
                <setup>
                    <module>Mage_MOLPaySeamless</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </molpayseamless_setup>
            <molpayseamless_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </molpayseamless_write>
            <molpayseamless_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </molpayseamless_read>
        </resources>
        <routers>
            <checkout>
                <rewrite>
                    <multishipping>
                        <to>molpayseamless/multishipping/overviewpost</to>
                        <override_actions>false</override_actions>
                        <actions>
                              <overviewPost>
                                  <to>molpayseamless/multishipping/overviewpost</to>
                              </overviewPost>
                        </actions>
                    </multishipping>
                </rewrite>
            </checkout>
        </routers>        
    </global>
    <frontend>
        <secure_url>
            <molpayseamless_paymentmethod>/molpayseamless/paymentmethod</molpayseamless_paymentmethod>
        </secure_url>
        <routers>
            <molpayseamless>
                <use>standard</use>
                <args>
                    <module>Mage_MOLPaySeamless</module>
                    <frontName>molpayseamless</frontName>
                </args>
            </molpayseamless>
        </routers>
        <layout>
             <updates>
                  <checkout>
                        <file>molpayseamless.xml</file>
                  </checkout>                 
             </updates>
        </layout>
    </frontend> 
    <default>
        <payment>
            <molpayseamless>
                <model>molpayseamless/paymentmethod</model>
                <active>1</active>
                <order_status>1</order_status>
                <title>MOLPay Payment Gateway (Seamless Integration)</title>
                <!--<cgiurl></cgiurl>-->
                <debug>0</debug>
                <!--<email_customer>0</email_customer>-->
                <login></login>
                <!--<merchant_email></merchant_email>-->
                <paymentdescription>
                  <![CDATA[You will be redirected to molpay website when you place an order.<br>Supported Secured Online Payment: <br><img src='http://www.molpay.com/home/pic/molpay/molpayhor01.gif' ><br>Supported Banks: <br><img src='http://www.molpay.com/home/pic/molpay/molpayhor02.gif' >]]>
                </paymentdescription> 
                <encrytype>md5</encrytype>
                <!--<test>1</test>-->
                <transkey></transkey>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </molpayseamless>
        </payment>
    </default>
</config>