<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <molpay_seamless>
                <debug>1</debug>
                <active>0</active>
                <model>SeamlessFacade</model>
                <merchant_gateway_id />
                <merchant_gateway_key />
                <merchant_gateway_secretkey/> 
                <merchant_gateway_settimer>0</merchant_gateway_settimer>                                                
                <order_status>pending_payment</order_status>
                <title>MOLPay Online Payment</title>
                <currency>MYR</currency>
                <can_capture>1</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>5</sort_order>
            </molpay_seamless>
        </payment>
    </default>
</config>
