<?xml version="1.0"?>
<config>
    <modules>
        <Mage_MOLPay>
            <version>1.9.0</version>
        </Mage_MOLPay>
    </modules>
    <global>
        <models>
            <molpay>
                <class>Mage_MOLPay_Model</class>
            </molpay>
        </models>
        <helpers>
            <molpay>
                <class>Mage_MOLPay_Helper</class>
            </molpay>
        </helpers>
        <blocks>
            <molpay>
                <class>Mage_MOLPay_Block</class>
            </molpay>
        </blocks> 
        <resources>
            <molpay_setup>
                <setup>
                    <module>Mage_MOLPay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </molpay_setup>
            <molpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </molpay_write>
            <molpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </molpay_read>
        </resources>
        <routers>
            <checkout>
                <rewrite>
                    <multishipping>
                        <to>molpay/multishipping/overviewpost</to>
                        <override_actions>false</override_actions>
                        <actions>
                              <overviewPost>
                                  <to>molpay/multishipping/overviewpost</to>
                              </overviewPost>
                        </actions>
                    </multishipping>
                </rewrite>
            </checkout>
        </routers>
    </global>
    <frontend>
        <secure_url>
            <molpay_paymentmethod>/molpay/paymentmethod</molpay_paymentmethod>
        </secure_url>
        <routers>
            <molpay>
                <use>standard</use>
                <args>
                    <module>Mage_MOLPay</module>
                    <frontName>molpay</frontName>
                </args>
            </molpay>
        </routers>
        <translate>
            <modules>
                <Mage_MOLPay>
                    <files>
                        <default>Mage_MOLPay.csv</default>
                    </files>
                </Mage_MOLPay>
            </modules>
        </translate>
    </frontend> 
    <default>
        <payment>
            <molpay>
                <model>molpay/paymentmethod</model>
                <active>1</active>
                <order_status>1</order_status>
                <title>MOLPay Malaysia Online Payment Gateway (Visa, Master Card, Maybank2u, MEPS, FPX, etc)</title>
                <!--<cgiurl></cgiurl>-->
                <debug>0</debug>
                <!--<email_customer>0</email_customer>-->
                <login></login>
                <!--<merchant_email></merchant_email>-->
                <paymentdescription>
                  <![CDATA[You will be redirected to molpay website when you place an order.<br>Supported Secured Online Payment: <br><img src='http://www.molpay.com/home/pic/molpay/molpayhor01.gif' ><br>Supported Banks: <br><img src='http://www.molpay.com/home/pic/molpay/molpayhor02.gif' >]]>
                </paymentdescription> 
                <encrytype>md5</encrytype>
                <!--<test>1</test>-->
                <transkey></transkey>
                <allowspecific>0</allowspecific>
            </molpay>
        </payment>
    </default>
</config>